.canvasHolder {
	width: 40%;
	height: 18em;
	margin-left: 5%;
	margin-right: 2%;
	float: left;
}

.canvasHolder canvas {
	width: 100%;
	height: 100%;
	background-color: lightgray;
	cursor: crosshair;
	border-radius: 4px;
	border: 1px black solid;
}

.samplesHolder {
	width: 40%;
	margin-left: 2%;
	margin-right: 5%;
	height: 50%;
	float: left;
}

.clear {
	cursor: pointer;
	font-weight: bold;
	float: right;
}

.clear:hover {
  	color: #607D8B;	
}

.samples {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.samples li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .2em;
  padding: .2em 0;
  border-radius: 4px;
}

.samples li:hover {
  color: #607D8B;
  background-color: #DDD;
}


.samples .sample {
  padding-left: 2em;
  font-weight: bold;	
}

input {
  margin: .4em;
  width: 8.5em;
}

input, button {
  font-size: 120%;	
}

