.netConrols {
	margin-top: 3.4em;
	font-weight: bold;
	margin-left: 5%;
}

.control {
	cursor: pointer;
}

.control:hover {
  	color: #607D8B;	
}

.result {
	color: black;
	font-weight: bold;
	font-size: 250%
}